.page__header {
    border-radius: 15px;
    background: $black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: $black;
    padding: 3em;
    color: $lightGrey;
}

.page__footer p{
    color: $white;
}