//colors
$darkGrey: #333;
$lightGrey: #979797;
$white: #fff;
$black: #000;
$lightBlue: rgba(102, 204, 255,1) 0%;
$pink: rgba(254,136,159,1) 100%;
$orange: #ff6d09;

//font size
$fontSmall: 3em; //48px
$fontLarge: 7em; //112px